body {
    width: 1100px;
    font-size: 30px;
    margin: 10px 40px 10px 30px;
    /* text-align: justify; */
    
}

p {
    font-size: 2.1rem;
    background-color: antiquewhite;
    border: 5px solid red;
    padding: 5px 30px 5px 5px;
}

span {
    border: 5px solid blue;
}

img {
    width: 800px;
}