p {
    border:2px solid  red;
    /* border-color: red; */
    font-size: 30px;
    width: 1200px;
    margin: 30px;
    padding: 10px;
    background-color: beige;
}

span {
    border: solid blue 2px;
    /* border-color: blue; */
}
img {
    margin-top: 20px;
    width: 800;
}