h1{
    margin: 30px;
}
p{
    background-color: rgb(249, 247, 208);
    width: 630px;
    height: fit-content;
    margin: 20px 30px;
    padding: 1px;
    border: solid red 3px;
    font-size: 15pt;
}
span{
    border: solid blue 3px;
}